modules = ["php-8.4", "postgresql-16"]
[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start PHP Server"

[[workflows.workflow]]
name = "Start PHP Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "php -S 0.0.0.0:5000 -t public"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 32771
externalPort = 6000

[[ports]]
localPort = 33089
externalPort = 3002

[[ports]]
localPort = 34277
externalPort = 4200

[[ports]]
localPort = 34315
externalPort = 5173

[[ports]]
localPort = 35837
externalPort = 3003

[[ports]]
localPort = 37547
externalPort = 3001

[[ports]]
localPort = 38385
externalPort = 5000

[[ports]]
localPort = 38825
externalPort = 8080

[[ports]]
localPort = 39207
externalPort = 6800

[[ports]]
localPort = 41635
externalPort = 8008

[[ports]]
localPort = 43165
externalPort = 3000

[[ports]]
localPort = 43627
externalPort = 8081

[[ports]]
localPort = 45295
externalPort = 8000

[nix]
channel = "stable-25_05"
packages = ["zip", "net-snmp", "iputils"]

[userenv]

[userenv.shared]
ONE_ISP_EMAIL = "demo@one-isp.net"
ONE_ISP_PASSWORD = "demo@123"
SMARTOLT_API_URL = "https://betacom.smartolt.com"
SMARTOLT_API_KEY = "470e8903ab194051af3e6cb67dffc309"
